

<div class = "row">
	<div class = "col-md-3">
		<select (change)="filter($event.target.value, 1)" class= "selectpicker">
			 <option>Select City</option>
		    <option>Maynooth Cinema Hall</option>
		    <option>Kilcock Theaters</option>
		    <!-- <option>Kilcock</option> -->
		</select>
	</div>

	<!-- <div class = "col-md-3">
		<select (change)="filter($event.target.value, 2)" class= "selectpicker">
			 <option>Select Food</option>
		    <option>Seafood</option>
		    <option>European</option>
		    <option>Indian</option>
				<option>Casual Dining</option>
		</select>
	</div>


	<div class = "col-md-3">
		<select (change)="filter($event.target.value, 3)" class= "selectpicker">
			 <option>Select Price</option>
		    <option>Cheap</option>
		    <option>Average</option>
		    <option>Expensive</option>
		</select>
	</div> -->


</div>


<div class="container">

		<div *ngFor="let r of tempMovies">
			<div *ngIf="r.county == 'Kildare'">
				<osl-movie-item [movie]="r"></osl-movie-item>
			</div>
	  </div>
	</div>
