

<div class = "row">
	<div class = "col-md-4">
		<select (change)="filter($event.target.value, 1)" class= "selectpicker">
			 <option>Select Cinema</option>
		    <option>Movies @ Blanchardstown</option>
		    <option>South Howth Cinema</option>
		</select>
	</div>

	<!-- <div class = "col-md-4">
		<select (change)="filter($event.target.value, 2)" class= "selectpicker">
			 <option>Food Type</option>
		    <option>Seafood</option>
		    <option>Grill</option>
		    <option>Italian</option>
		</select>
	</div>


	<div class = "col-md-4">
		<select (change)="filter($event.target.value, 3)" class= "selectpicker">
			 <option>Price Range</option>
		    <option>Cheap</option>
		    <option>Average</option>
		    <option>Expensive</option>
		</select>
	</div>
 -->

</div>



<div class="container">

	<div *ngIf="tempMovies.length ==0">
		<h1>Please Choose An Option!</h1>
	</div>
		<div *ngFor="let r of tempMovies">

			<div *ngIf="r.county == 'Dublin'">
				<osl-movie-item [movie]="r"></osl-movie-item>
			</div>
	  </div>
	</div>
